<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [3]:
import pandas as pd

Load the dataset into a dataframe.

In [4]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [5]:
# your code goes here
df.duplicated().value_counts()

False    11398
True       154
dtype: int64

In [6]:
df['Respondent'].duplicated().value_counts()

False    11398
True       154
Name: Respondent, dtype: int64

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [85]:
# your code goes here
df1 = df.drop_duplicates()

In [86]:
df1['Respondent'].duplicated().value_counts()

False    11398
Name: Respondent, dtype: int64

Verify if duplicates were actually dropped.

In [87]:
# your code goes here
df1.duplicated().value_counts()

False    11398
dtype: int64

## Finding Missing values

Find the missing values for all columns.

In [88]:
# your code goes here
#df1.isnull().sum()
for column in df1.columns.values.tolist():
    print(column)
    print (df1[column].isnull().sum())
    print("")

Respondent
0

MainBranch
0

Hobbyist
0

OpenSourcer
0

OpenSource
81

Employment
0

Country
0

Student
51

EdLevel
112

UndergradMajor
737

EduOther
164

OrgSize
96

DevType
65

YearsCode
9

Age1stCode
13

YearsCodePro
16

CareerSat
0

JobSat
1

MgrIdiot
493

MgrMoney
497

MgrWant
493

JobSeek
0

LastHireDate
0

LastInt
413

FizzBuzz
37

JobFactors
3

ResumeUpdate
39

CurrencySymbol
0

CurrencyDesc
0

CompTotal
809

CompFreq
206

ConvertedComp
816

WorkWeekHrs
122

WorkPlan
121

WorkChallenge
164

WorkRemote
8

WorkLoc
32

ImpSyn
5

CodeRev
1

CodeRevHrs
2426

UnitTests
29

PurchaseHow
196

PurchaseWhat
38

LanguageWorkedWith
11

LanguageDesireNextYear
134

DatabaseWorkedWith
453

DatabaseDesireNextYear
1042

PlatformWorkedWith
411

PlatformDesireNextYear
544

WebFrameWorkedWith
1393

WebFrameDesireNextYear
1617

MiscTechWorkedWith
2182

MiscTechDesireNextYear
1455

DevEnviron
29

OpSys
34

Containers
82

BlockchainOrg
2322

BlockchainIs
2610

BetterLife
98

ITperson
35

OffOn
38

SocialMedia
293

Extraversion
20

ScreenName
507

SOVisit1st
325

SOVisitFreq
5

SOVisitTo
1

SOFindAnswer
3

SOTimeSaved
50

SOHowMuchTime
1917

SOAccount
1

SOPartFreq
1128

SOJobs
6

EntTeams
5

SOComm
0

WelcomeChange
85

SONewContent
1965

Age
287

Gender
73

Trans
123

Sexuality
542

Ethnicity
675

Dependents
140

SurveyLength
19

SurveyEase
14

Find out how many rows are missing in the column 'WorkLoc'

In [89]:
# your code goes here
df1[['WorkLoc']].isnull().sum()

WorkLoc    32
dtype: int64

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [90]:
# your code goes here
df1['WorkLoc'].value_counts().idxmax()
#df1['UndergradMajor'].value_counts()

'Office'

Identify the value that is most frequent (majority) in the WorkLoc column.

In [13]:
#make a note of the majority value here, for future reference
#Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [92]:
# your code goes here
import numpy as np

df1['WorkLoc'].replace(np.nan, 'Office', inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [93]:
# your code goes here
df1[['WorkLoc']].isnull().sum()

WorkLoc    0
dtype: int64

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [94]:
# your code goes here
df1['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [95]:
df1['CompFreq'].unique()

array(['Yearly', 'Monthly', 'Weekly', nan], dtype=object)

In [96]:
def normal(freq, total):
    result = 0
    if freq == 'Yearly':
        
        result = total
    elif freq == 'Monthly':
    
        result = total *12
    elif freq == 'Weekly':
        
        result = total *52
        
    return result

df1['NormalizedAnnualCompensation'] = df1.apply(lambda x : normal(x['CompFreq'], x['CompTotal']), axis =1)

#df1['NormalizedAnnualCompensation'].

df1['NormalizedAnnualCompensation'].median()

#don't know why median in quiz wase 100000

/home/jupyterlab/conda/envs/python/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

98000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).